doctype html
html
  head
    title Mis materias
    link(rel="icon" type="image/png" href="/images/favicon.ico")
    link(rel="stylesheet", href="/stylesheets/students/mySubjects.css")
  body
    div.mainContainer
        nav.nav#nav 
            h1=`${student.first_name} ${student.last_name}` 
            div.navButtons
                button(id="showModal" onclick="toggleInscripForm()") Anotarme a una materia
                button(onclick="logout()") Cerrar sesión
        h2#misMaterias Mis materias
        ul.ul#ul
            each subject in SUBJECTS 
                div.li 
                    h4=subject.title
                    div.subjectsButtons
                        button#markAttendance Marcar asistencia 
        .modal-off#modal
            .div-modal
                h1 Formulario de inscripción
                form(action="" onsubmit="return preventSubmit();")
                    //-input(type="number" placeholder="DNI" required="required" id="inp-dni")
                        input(type="text" placeholder="Nombre" required="required")
                        input(type="email" placeholder="Email" required="required")
                    div
                        label Materia
                        select(name="" required="required")
                            option TUDS 
                            option Edicion
                    div 
                        button#signUP Anotarme 
                        button(id="cancel" onclick="return toggleInscripForm();" onsubmit="()=>false;") Cancelar
    
    script.

        document.onkeydown = function(evt) {
      
            if(document.getElementsByClassName("modal").length !== 0){
                //console.log(document.getElementsByClassName("modal"))
                evt = evt || window.event;
                if (evt.keyCode == 27) {
                    toggleInscripForm();
                }
            }
        };


        function preventSubmit(){
            return false;
        }
        function toggleInscripForm(){
      
            document.getElementById("modal").classList.toggle("modal");
            document.getElementById("misMaterias").classList.toggle("on-back");
            document.getElementById("nav").classList.toggle("on-back");
            document.getElementById("ul").classList.toggle("on-back");
            
        }

        function logout(){
            console.log("chau")
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/auth/logout", true);
            xhttp.setRequestHeader("Content-Type", "application/json");
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                // Response
                var response = this.responseText;
                }
            };
            xhttp.send();
            setTimeout(()=>{
                location.replace("/");
            }, 1000)
        }

        setTimeout(() => {
            location.reload();
        }, 1000*60*15);